<article class="book_thumbnail second-background">
    <div class="book_thumbnail_content">
        <img src="/images/DefaultBookCover.jpg" alt="Couverture par défaut"
        class="zone zone1"> book_cover_img</div>
        <div class="zone zone2">book_infos</div>
        <div class="zone zone3">book_buttons</div>
    </div>

</article>







