<article class="book-card">
    <!-- <img class="book-card-image" src="./images/photo.png" alt=""> -->
    <header class="book-card-header">
        <h2><%= book.title %></h2>
    </header>
    <p class="book-card-description"><% book.book_description %></p>
</article>