    <footer class="second-background">
      <p><a href="/mentions">Mentions légales</a></p>
      <p><a href="/cgu">Conditions Générales d'Utilisation</a></p>
      <p><a href="/contact">Contact</a></p>
      <p>&copy; <%= new Date().getFullYear() %> Blablabook - Tous droits réservés.</p>
    </footer>
  </body>
</html>