    <footer>
      <p><a href="/mentions">Mentions-legales</a></p>
      <p><a href="/cgu">CGU</a></p>
      <p><a href="/contact">Contact</a></p>
      <p>&copy; <%= new Date().getFullYear() %> Blablabook - Tous droits réservés.</p>
    </footer>
  </body>
</html>