<H1>Visiteur non connecté</H1>
<p>pensez a vous connecter pour profiter des fonctionnalité de Blablabook !</p>
<a href="/login"><button>Me connecter</button></a>
<a href="/register"><button>Créer un compte</button></a>