<section class="header-nav second-background">
  <div class="nav-bookmark third-background"><a href="/index">Accueil</a></div>

  
  <% if (!locals.reader) { %>
  <div class="nav-bookmark nav-bookmark-disabled third-background">Search</div>
  <div class="nav-bookmark nav-bookmark-disabled third-background">Dashboard</div>
  
  <div class="nav-bookmark nav-bookmark-disabled third-background">Bookshelf</div>
  <!-- Si l'utilisateur n'est pas connecté -->
    <div class="nav-bookmark third-background"><a href="/login"> Login / Register </a></div>
    <!-- <div class="nav-bookmark third-background"><a href="/register">Register</a></div> -->
  <% } else { %>
    <div class="nav-bookmark third-background"><a href="/search">Search</a></div>
    <div class="nav-bookmark third-background"><a href="/dashboard">Dashboard</a></div>
    
    <div class="nav-bookmark third-background"><a href="/bookshelf">Bookshelf</a></div>
    <!-- Si l'utilisateur est connecté -->
    <div class="nav-bookmark third-background">
      <form action="/logout" method="POST">
        <button type="submit" name="logout" id="logout">Déconnexion</button>
      </form>
    </div>
  <% } %>

  <div class="mobil-nav"> <p>titi</p> <p>tata</p> <p>toto</p></div>
</section>
