<nav class="flex items-center gap-4">
  <div class="bookmark"><a href="/index">Accueil</a></div>

  <% if (!locals.reader) { %>
    <div class="bookmark-disabled">Search</div>
    <div class="bookmark-disabled">Dashboard</div>
    <div class="bookmark-disabled">Bookshelf</div>

    <div class="bookmark"><a href="/login">Login / Register</a></div>
  <% } else { %>
    <div class="bookmark"><a href="/search">Search</a></div>
    <div class="bookmark"><a href="/dashboard">Dashboard</a></div>
    <div class="bookmark"><a href="/bookshelf">Bookshelf</a></div>

    <div class="bookmark">
      <form action="/logout" method="POST">
        <button type="submit" name="logout" id="logout">Déconnexion</button>
      </form>
    </div>
  <% } %>
</nav>
