<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Common styles, scripts, and meta tags -->
  <%- include('./partials/head') %>

<!-- rajouter les CSS et le favicon -->

  <!-- Title -->
  <title>blablabook</title>


</head>

<body>
  <%- include('./partials/header') %>

  
  <%- include('./partials/footer') %>

</body>
</html>