<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Common styles, scripts, and meta tags -->
  <%- include('./partials/head') %>

  <!-- Title -->
  <title>BlaBlabook | Page non trouvée</title>

  <!-- Style -->
  
</head>

<body>
  <%- include('./partials/header') %>

  <main>
  
      <h1>Page non trouvée</h1>
  
  </main>

  <%- include('./partials/footer') %>
</body>
</html>