/* * {
    border: solid black 1px
} */

@import url(https://fonts.bunny.net/css);
 *{
    margin: 0;
    padding: O;
 }

html {
    height: 100vh;
    margin: 0;
  }

body{
    font-family: 'roboto', sans-serif;

    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    align-items: stretch;

}


.primary-background{
    background-color: #6baccd;
}

.second-background {
    background-color: #ffffff;
} 
.third-background {
    background-color: #f4ecd0;
}
.fourth-background {
    background-color: #eec124;
} 

header {
    height:6rem;
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 680px) {
    .primary-background{
        background-color: red;
    }
    .nav-bookmark{
        display: none;
    }
    footer{
        display: none;
    }
    .mobil-nav{
        width: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        bottom: 10px;
        left:0;
        
    }

}

@media screen and (min-width: 681px){

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer a {
        text-decoration: none;
        color: black;
    }
    .mobil-nav{
        display: none;
    }

}
    
.header-nav{
    display: flex;
    padding-top: 0.5rem;
    padding-right: 1rem;

}

.nav-bookmark {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    vertical-align: middle;
    padding: 0.5rem  0.5rem 0rem 0.5rem;
    margin: 0 0.2rem 0 0.2rem;
    box-shadow: 0px 0px 5px rgba(47, 46, 73, 0.542);
}

.nav-bookmark-disabled{
    margin-top: 3rem;
}

.nav-bookmark a {
    text-decoration: none;
    /* padding: 0rem  0rem 3rem 0rem; */
    color: black;
}

.index-section {
    padding: 0rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.nickname {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.booklist-section {
    /* height: 400px; */

    
    /* padding: 2rem 0rem; */
    display: flex;
    justify-content: start;
    
    
    /* flex-direction: row; */
    /* align-items: center;
    align-items: stretch; */
    /* background-color:deeppink; */
    
}

.booklist-section ul{
    height:fit-content;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;

    gap: 1rem;
    /* background-color:deeppink; */
}

.login-section {
    flex: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    /* background-color:deeppink; */
}

.login-section form {
    box-shadow: 0px 0px 10px rgba(47, 46, 73, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    border-radius: 0.5rem;
    /* background-color: blueviolet; */
}

.login-section form div{
    padding: 0.5rem;
    display: flex;
}

.login-section form button {
    border-radius: 1.5rem;
    width: 150px;
    height: 3rem;
}

.header-logo{
    width: 200px;
}

.presentation-section {
    align-self: center;
    max-width: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.random_authors_link{
    /*le lien aura l'apparence d'un bouton*/
    border-radius: 1.5rem;
    margin : 1rem;
    padding : 1rem;
    width: 150px;
    height: 3rem;
    color : #fff;
    background-color: #eec124;
}

.book-list-section{
    overflow: scroll;
    display:flex;
    flex-wrap: nowrap;
}    

/*------- BookCard.ejs ------*/  
.book_details {
    display: flex;
    background: #fff;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}

.book_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f00;
    padding: 10px;
    margin-right: 20px;
}

.book_cover img {
    width: 200px;
    height: 300px;
    border: 2px solid #000;
}

.book_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.book_settings button {
    margin: 5px 0;
    padding: 10px;
    background-color: #ffa500;
    border: 2px solid #ffa500;
    color: white;
    cursor: pointer;
}

.book_infos {
    display: flex;
    flex-direction: column;
    border: 2px solid #008000;
    padding: 10px;
    flex: 1;
}

.book_infos_header,
.book_infos_review {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.book_infos_header div,
.book_infos_review div {
    flex: 1;
    padding: 5px;
}

.book_description {
    border: 2px solid #000;
    padding: 10px;
    flex: 1;
}

.book_reviews {
    border: 2px solid #ff00ff;
    padding: 10px;
    margin: 10px;
}

.book_readerReview {
    border: 2px solid #ff69b4;
    padding: 10px;
    margin-bottom: 10px;
}

.Reader_avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Reader_nickname,
.review_date,
.Reader_reviewNote,
.Reader_comment {
    margin: 5px 0;
}


/*----- Commentaires*/
/* .comment-section{
    overflow: scroll;
    display:flex;
    flex-wrap: nowrap;
}

.comment-card {
    width : 230px;
    min-width: 230px;
    display:flex;
    flex-wrap: wrap;
}

.comment-card-image {
    width: 100px;
}

.comment-card-header{
    width: 120px;
    display: flex;
    flex-direction: column;
}

.comment-card-paragraphe{
    width: 100%;
} */

/*----- BookThumbnail.ejs-----*/

.book_thumbnail {
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left : 1rem;
}

.book_thumbnail_header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
    margin-left : 1rem;
}

.book_thumbnail_title {
    font-size: large;
    font-weight: bold;
    padding: 5px;
    flex: 1;
}

.book_thumbnail_author {
    font-weight: 400;
    padding: 5px;
    flex: 1;
}

.book_thumbnail_infos {
    display: flex;
    padding: 10px;
}

.book_thumbnail_image img {
    aspect-ratio: 1/1.5;
    width: 100%;
    height: 250px;
    border: 2px solid #000;
    margin-left: 1rem;
}

.book_thumbnail_summary {
    padding: 10px;
    margin-left: 2rem;
    flex: 1;
}

.book_thumbnail_options {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 10px;
}

.book_thumbnail_button {
    border: 2px solid #ffa500;
    background-color: #ffa500;
    width: 250px;
    padding: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.book_thumbnail_button:hover {
    background-color: #e59400;
}

/* dashboardCard*/

.profile-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    max-width: 800px;
    height: auto;
    margin-left: 5rem;
    margin : 4 rem;
    border-radius: 12px;
    box-shadow: 5px 2.5px 2.5px black;
    background-repeat: no-repeat;
    background-color: #3D84A8;
}


.dashboard-name {
    text-align: center;
}

.profile-info, .admin-actions {
    margin-top : 2rem;
}

.avatar-dashboard{
    border-radius: 12px;
}
  
.admin-actions {
    display:inline-block;
    margin-bottom: 1rem;   
}  

.admin-boutons {
    background-color: #F4ECD0;
    border: 1px solid #F4ECD0;
    color: black;
    text-align: left;
    font-size: 10px;
    padding: 5px;
    margin : 2px;
    width: auto;
    align-items: center;
}

.admin-boutons:hover {
    background-color: #ffffff;
    border: 1px solid #F4ECD0;
    color: #3D84A8;
    text-align: center;
    font-size: 12px;
}